@use "../utils/utils" as *;

.site-capture {
    margin: 80px auto;

    @include mq() {
        margin: 0 auto 40px;
    }


    .flex-site-capture {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 80px;
        max-width: 900px;
        margin: 0 auto 40px;

        @include mq() {
            flex-direction: column;
            gap: 40px 0;
            height: auto;
            margin: 0 auto;
        }

        .hero {
            width: 45%;

            @include mq() {
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 40px 0 40px 0;

                @include mq() {
                    border-radius: 0 0 40px 0;
                }
            }
        }

        .content {
            width: 45%;

            @include mq() {
                width: calc(100% - 80px);
                margin: 0 auto 40px;
            }

            .form {
                .form-group {
                    margin: 0 0 20px 0;

                    .input-form {
                        margin: 0 0 10px 0;

                        &:last-child {
                            margin: 0;
                        }

                        label {
                            display: block;
                            margin: 0 0 5px 0;
                        }

                        .input {
                            font-weight: bold;
                            color: $white-color;
                            width: 100%;
                            padding: 15px 20px;
                            border: none;
                            outline: none;
                            border-radius: 4px;
                            background: $gray-color-dark;
                            transition: .5s;

                            &:focus {
                                background: $primary-color;
                            }
                        }
                    }
                }

                .btn {
                    display: block;
                    font-weight: bold;
                    line-height: 1;
                    color: $white-color;
                    width: 100%;
                    margin: 0 0 20px 0;
                    padding: 20px;
                    border: 1px solid $primary-color;
                    border-radius: 4px;
                    background-image: linear-gradient(0deg, $primary-color, $secondary-color);

                    &:hover {
                        background-image: linear-gradient(0deg, $secondary-color, $primary-color);
                    }
                }
            }

            .log {
                h3 {
                    font-weight: 500;
                    margin: 0 0 5px 0;
                }

                p {
                    color: $white-color;
                    height: 50px;
                    padding: 10px;
                    border-radius: 4px;
                    background: $gray-color-dark;
                    overflow-y: scroll;
                }
            }
        }
    }

    .notice {
        width: calc(100% - 80px);
        max-width: 900px;
        margin: 0 auto;

        h3 {
            font-weight: 500;
            margin: 0 0 20px 0;
        }

        .notice-items {
            .notice-item {
                display: flex;
                gap: 0 10px;
                font-size: 1.4rem;
                line-height: 1.4;
                margin: 0 0 5px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}